body{
    padding: 10px 0px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: linear-gradient(to right, rgba(3, 3, 41, 0.438) ,rgb(5, 44, 5)); */
}
.sciCalculator{
    background: linear-gradient(to right, rgba(24, 8, 1, 0.301) ,rgba(9, 22, 9, 0.671));
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    width: auto;
    position: relative;
}
.sci-calculatorGrid{
    display: grid;
    grid-column: 1/-1;
    justify-content: center;
    align-content: center;
}
.button{
    display: flex;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 70%);
    grid-template-rows: repeat(1,70%);
    margin: 0px 5px;
}
.showButton> button, .hideButton> button{
    cursor: pointer;
    font-size: 15px;
    outline: none;
}
.showButton> button:hover{
    background-color: rgba(226, 226, 210, 0.589);
}
.hideButton> button:hover{
    background-color: rgba(245, 245, 240, 0.377);
}
.showButton{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 65px);
    grid-template-rows:repeat(5,65px);
    padding: 0px;
    margin: 0px;
}
.hideButton{
    /* display: grid !important; */
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(6, 65px);
    grid-template-rows:repeat(5,65px);
    padding: 0px;
    margin: 0px;
}
.sci-calculatorOutput{
    grid-column: 1/-1;
    background-color: rgba(234, 237, 240, 0.479);
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    height: 15vh;
    margin: 2px 5px;
    font-size: 30px;
    word-wrap: break-word;
    word-break: break-all;
    z-index: 10;
}
#numberNine,#numberEight,#numberSeven,#numberSix,#numberFive,#numberFour,#numberThree,#numberTwo,#numberOne,#numberZero,#decimal{
    color: rgb(219, 213, 213);
    background-color: rgba(91, 92, 94, 0.349);
}
#numberZero:hover,#decimal:hover,#numberOne:hover,#numberTwo:hover,#numberThree:hover,#numberFour:hover,#numberFive:hover,#numberSix:hover,#numberSeven:hover,#numberEight:hover,#numberNine:hover{
    background-color: rgba(240, 255, 255, 0.486);
    color: rgb(1, 1, 8);
}
#division,#multiplication,#substraction,#addition{
    color: rgb(245, 245, 245);
    background-color: rgba(241, 158, 42, 0.329);
}
#division:hover,#multiplication:hover,#substraction:hover,#addition:hover,#equalTo:hover{
    background-color: rgba(240, 255, 255, 0.486);
    color: rgb(1, 1, 8);
}
#equalTo{
    grid-column: span 2;
    background-color: rgba(78, 148, 9, 0.26);
    color: rgb(255, 255, 255);
}
#clearAllInput{
    color: rgba(207, 18, 18, 0.726);
}
#clearAllInput:hover{
    background-color: rgba(255, 255, 227, 0.548);
    box-shadow: black;
}
#secondFunction{
    color: rgb(196, 92, 19);
}
#radText{
    opacity: 0.7;
    align-items: flex-start;
    font-size: x-small;
    color: rgba(2, 2, 2, 0.904);
    position: relative;
    left: -820px;
    top: 65px;
    z-index:1030;
}
#text{
    flex-flow: inline-block;
}
h1{
    text-align: center;
    color: black;
    font-size: 13px;
}
.hideButton{
    display:none;
}
@media only screen and (min-width: 675px) {
    .hideButton{
        display: grid;
    }
}
